<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.board.qna.QnaMapper">
	<resultMap type="QnaVO" id="detailResult">
		<id column="BOARD_NUM" property="boardNum"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="BOARD_DATE" property="boardDate"/>
		<result column="BOARD_HIT" property="boardHit"/>
		
		<association property="boardFileVO" javaType="BoardFileVO">
			<id column="FILE_NUM" property="fileNum"/>
			<result column="ORI_NAME" property="oriName"/>
			<result column="SAVE_NAME" property="saveName"/>
		</association>
	</resultMap>
	
	<select id="list" parameterType="Pager" resultType="QnaVO">
		SELECT *
		FROM QNA
		ORDER BY BOARD_REF DESC, BOARD_STEP
		LIMIT #{ startIndex }, #{ endIndex }
	</select>
	
	<select id="totalCount" parameterType="long">
		SELECT COUNT(BOARD_NUM)
		FROM QNA
	</select>
	
	<insert id="insert" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="boardNum">
		INSERT INTO QNA
			(BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, BOARD_DATE, BOARD_HIT, 
				BOARD_STEP, BOARD_DEPTH)
		VALUES
			(#{ boardTitle }, #{ boardContent }, #{ boardWriter }, NOW(), 0, 
				0, 0)
	</insert>
	<update id="updateRef" parameterType="QnaVO">
		UPDATE QNA
		SET BOARD_REF = #{ boardNum }
		WHERE BOARD_NUM = #{ boardNum }
	</update>
	
	<insert id="insertFile" parameterType="BoardFileVO">
		INSERT INTO QNA_FILE
			(ORI_NAME, SAVE_NAME, BOARD_NUM)
		VALUES
			(#{ oriName }, #{ saveName }, #{ boardNum })
	</insert>
	
	<select id="detail" parameterType="QnaVO" resultMap="detailResult">
		SELECT *
		FROM QNA AS q
		LEFT JOIN QNA_FILE AS f ON q.BOARD_NUM = f.BOARD_NUM
		WHERE q.BOARD_NUM = #{ boardNum }
	</select>
	
	<update id="updateSteps" parameterType="QnaVO">
		UPDATE QNA
		SET BOARD_STEP = BOARD_STEP + 1
		WHERE BOARD_REF = #{ boardRef } AND BOARD_STEP > #{ boardStep }
	</update>
	
	<insert id="insertReply">
		INSERT INTO QNA
			(BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, BOARD_DATE, BOARD_HIT, 
				BOARD_REF, BOARD_STEP, BOARD_DEPTH)
		VALUES
			(#{ boardTitle }, #{ boardContent }, #{ boardWriter }, NOW(), 0, 
				#{ boardRef }, #{ boardStep }, #{ boardDepth })
	</insert>
</mapper>