<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.member.MemberMapper">
	<resultMap type="MemberVO" id="loginResult">
		<id column="USERNAME" property="username"/>
		<result column="PASSWORD" property="password"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="BIRTH" property="birth"/>
		
		<result column="ACCOUNT_NON_EXPIRED" property="accountNonExpired"/>
		<result column="ACCOUNT_NON_LOCKED" property="accountNonLocked"/>
		<result column="CREDENTIALS_NON_EXPIRED" property="credentialsNonExpired"/>
		<result column="ENABLED" property="enabled"/>
		
		<association property="profileVO">
			<id column="USERNAME" property="username"/>
			<result column="SAVE_NAME" property="saveName"/>
			<result column="ORI_NAME" property="oriName"/>
		</association>
		<collection property="roleVOs" javaType="list" ofType="RoleVO">
			<id column="ROLE_NUM" property="roleNum"/>
			<result column="ROLE_NAME" property="roleName"/>
		</collection>
	</resultMap>

	<insert id="join" parameterType="MemberVO">
		INSERT INTO MEMBER
			(USERNAME, PASSWORD, NAME, EMAIL, PHONE, BIRTH)
		VALUES
			(#{ username }, #{ password }, #{ name }, #{ email }, #{ phone }, #{ birth })
	</insert>
	<insert id="joinProfile" parameterType="ProfileVO">
		INSERT INTO PROFILE
			(USERNAME, SAVE_NAME, ORI_NAME)
		VALUES
			(#{ username }, #{ saveName }, #{ oriName })
	</insert>
	<insert id="joinRole" parameterType="map">
		INSERT INTO MEMBER_ROLE (USERNAME, ROLE_NUM)
		VALUES (#{ username }, (SELECT ROLE_NUM FROM ROLE WHERE ROLE_NAME = 'ROLE_MEMBER'))
	</insert>
	
	<select id="login" parameterType="MemberVO" resultMap="loginResult">
		SELECT m.*, p.*, r.*
		FROM MEMBER AS m
		JOIN PROFILE AS p USING (USERNAME)
		JOIN MEMBER_ROLE AS mr USING (USERNAME)
		JOIN ROLE AS r USING (ROLE_NUM)
		WHERE USERNAME = #{ username }
	</select>
	
	<insert id="cartAdd" parameterType="CartVO">
		INSERT INTO CART (USERNAME, PRODUCT_NUM)
		VALUE (#{ username }, #{ productNum })
	</insert>
<!-- 
	<delete id="deleteCart" parameterType="CartVO">
		DELETE FROM CART
		WHERE USERNAME = #{ username } AND PRODUCT_NUM = #{ productNum }
	</delete>
 -->
	<delete id="deleteCart" parameterType="map">
		DELETE FROM CART
		<where>
			USERNAME = #{ username }
			AND PRODUCT_NUM IN
			<foreach collection="numArr" item="item" open="(" close=")" separator=",">
				#{ item }
			</foreach>
		</where>
	</delete>
	
	<select id="checkUsername" parameterType="MemberVO" resultType="int">
		SELECT COUNT(USERNAME)
		FROM MEMBER
		WHERE USERNAME = #{ username }
	</select>
	
	<update id="update" parameterType="MemberVO">
		UPDATE MEMBER
		SET NAME = #{ name }
			, EMAIL = #{ email }
			, PHONE = #{ phone }
			, BIRTH = #{ birth }
		WHERE USERNAME = #{ username }
	</update>
	
	<update id="passwordUpdate" parameterType="MemberVO">
		UPDATE MEMBER
		SET PASSWORD = #{ password }
		WHERE USERNAME = #{ username }
	</update>
</mapper>